<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">form</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img src="photo.webviewPath"></ion-img>

  <ion-item color="clear">
    <ion-label color="secondary">Name</ion-label>
    <ion-input aria-label="Name" color="secondary" type="name" placeholder="Nom du lieu"></ion-input>
  </ion-item>

  <ion-item color="clear">
    <ion-label color="secondary">Description</ion-label>
    <ion-input aria-label="Description" color="secondary" type="description" placeholder="Description"></ion-input>
  </ion-item>

  <ion-button expand="block" color="secondary" shape="round" fill="outline" >Poster</ion-button>

  
</ion-content>
